.feed-list {
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  margin-top: -20px;
}
.nothing{
  margin-top: 25px;
  color: white;
  text-align: center;
  font-weight: 100;

}